* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('images/background2.png');
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {    
    background-image: url('images/background.png');
}

nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover {
    color: gray;
}

nav li:first-child {
    margin-right: auto;
    font-size: 30px;
}

.container {
    background: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    flex-direction: column;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.typing-effect {
    font-size: 30px;
    color: gray;
    white-space: nowrap;
    justify-content: center;
    overflow: hidden;
}

.initials {
    background: white;
    font-size: 70px;
    color: green;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1000px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.socials {
    background: transparent;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 85%;
    left: 18%;
    transform: translate(-50%, -50%);
    align-items: flex-start;
}

a:link {
    color: black;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:visited {
    color: black;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.skills-description
 {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 20px auto;
}

.skill {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    transition: transform 0.3s;
    flex-direction: column;
    background-color: white;
    height: 150px;
    width: 150px;
    border: 1px solid gainsboro;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.skill img {
    max-width: 100px;
    max-height: 100px;
    filter: none;
    margin: auto;
}

.skill:hover img {
    filter: grayscale(100%);
}

.skill p {
    margin-top: auto;
    font-size: 14px;
    color: black;
    font-size: large;
    width: 100%;
}

.skills-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    position: relative;
}

.section-title {
    font-size: 32px;
    color: green;
    margin-bottom: 10px;
    background-color: white;
    padding: 5px 10px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.profile {
    display: flex;

}

.profile img {
    max-width: 400px;
    border-radius: 50%;
    margin-right: 40px;
    margin-left: 200px;
}

.about {
    background-color: white;
    font-size: 22px;
    text-align: right;
    margin: 20px;
    width: 100%;
}