*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('background2.png');
    background-position: center;
    background-size: cover;
    text-align: center;

}
.home {
    min-height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('background.png');
    background-position: center;
    background-size: cover;
    text-align: center;

}
nav{
    background-color: white;
    backdrop-filter: blur(10px);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;

}
nav a:hover{
    background-color: white;
}
nav li:first-child{
    margin-right: auto; 
    font-size: 30px;
}
.container {
    background: white;
    padding: 10px;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    flex-direction: column;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.typing-effect {
    font-size: 30px;
    color:gray;
    white-space: nowrap;
    justify-content: center;
    overflow: hidden;
}
.initials {
    background: white;
    font-size: 70px;
    color: green;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1000px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
